.navbar_container{
    position: sticky;
    top: 10px;
    background-color: rgba(240, 248, 255, 0.716) ;
    box-shadow: 0px 15px 25px black;
    padding: 5px 15px;
    z-index:20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    border-radius: 50px;
    
  }
  
  .navbar_container img{
    width: 50px;
    vertical-align: middle;
  }
  
  
  
  .menu{  
    display: flex;  
    gap: 20px;
     
  }
  
  .menu li{
    list-style: none;
    font-size: 18px;
    color: black;
    font-weight: 700; 
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .menu li:hover{
    color: var(--White);
    letter-spacing: 2px;
  }
  
  .menu_bar,.close_menu{
    font-size: 35px;
    vertical-align: middle;  
  }
  
  .hamburger_menu{
    background-color: rgba(255, 255, 255, 0.886);
    margin: 0px 40px;
    right: 0%;
    left: 0%;
    top: 5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0px;
    z-index: 10;  
    border-radius: 20px; 
  
  }
  
  .hamburger_menu li{
    list-style: none;
    font-size: 18px;
    color: black;
    font-weight: 700; 
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }
  
  .hamburger_menu li:hover{
    letter-spacing: 2px;
  }
  .dim_cat {
    z-index: 0;
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.479), rgb(0 0 0 / 0.8));
  }
  .dim_con {
    z-index: -5;
    position: fixed;
    inset: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.479), rgb(0 0 0 / 0.8));
  }
  
  
  
  
  
  
  .country_dropdown_menu{
    background-color: rgba(255, 255, 255, 0.886);
    margin: 0px 40px;
    right: 0%;
    left: 0%;
    top: 5rem;
    max-width: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 10px;
    z-index: 10;  
    border-radius: 20px; 
  }
  
  .country_dropdown_menu li{
    list-style: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
    
  }
  
  .country_dropdown_menu CircleFlag{
    vertical-align: middle;
  }
  
  
  
  
  
  
  @media screen and (max-width:10000px) {
    .hamburger{
      display: none;
    }
  }
  @media screen and (max-width:850px) {
    .hamburger{
      display: flex;
    }
    .menu li{
      display: none;
    }

    .navbar_container img{
      width: 30px;
    }

  }
  
  
  
  
  